# Config File for formatting a GoFS cluster
# -----------------------------------------

# the name node uri

gofs.namenode.type = edu.usc.goffish.gofs.namenode.RemoteNameNode
gofs.namenode.location = http://namenodeserver:9998

# list of data nodes to format and add to the name node
# repeat for each data node to include

gofs.datanode = file://datanode1/
gofs.datanode = file://datanode2/

# full class name of the serializer to use at every data node

# gofs.serializer = edu.usc.goffish.gofs.slice.JavaSliceSerializer
gofs.serializer = edu.usc.goffish.gofs.slice.KryoSliceSerializer
